.content-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-size: 9px;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .pagination button{
    background-color:none;
  }
  .pagination button img{
    background-color: none;
    height: 32px;
    width: auto;
  }

.pagination button:first-child {
    margin-right: 5px;
  }
  
  .pagination button:last-child {
    margin-left: 5px;
  }