.content {
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0;
  height:max-content;
  width:max-content;
}

.content-controllers {
  width:max-content;
  color:var(--text-color);
  background-color: var(--container-color);
  padding: 5px;
  border: 1px solid var(--body-color);
  border-radius: 5px;
  margin:auto;
}

.content-data {
  height: 500px;
  width:1000px;
  color:var(--text-color);
  padding: 5px;
  border: 1px solid var(--body-color);
  border-radius: 5px;
  margin:auto;
}

.content-totals {
  height: auto;
  width:1000px;
  color:var(--text-color);
  padding: 5px;
  background-color: var(--container-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--body-color);
  border-radius: 5px;
  margin:auto;
}

@media (max-width: 768px) {
  .content-controllers {
    width:100%;
    height: 100%;
  }
  .content-data {
    width:100%;
    height: 100%;
  }
  .content-totals {
    width:100%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .content-controllers {
    width: 380px;
    height: 100%;
    
  }
  .content-data {
    width:380px;
    height: 100%;

  }
  .content-totals {
    width:380;
    height: 100%;
  }
}