/* eslint-disable no-unused-vars */
:root {
  --main-color: #0052a0;
  --title-color: #EFF3F5;
  --text-color: #ffff;
  --light-text-color: #A0A7AC;
  --border-color: #d8c690;
  --container-color: #00386d;
  --preciostock-color: #012b53;
  --body-color: #001e3a;
  --footer-header-color: #be9e44;
  --navbar-color:  #00386d;
}
body {
  top: 0;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  align-content: center;
  height: 100vh; /* Ajustar la altura al viewport */
  margin: 0; /* Eliminar los márgenes predeterminados */
  background-color: var(--container-color);
  overflow-y: auto;
}
.main-container-layout {
  display:flex;
  flex-direction:column;
  align-items: center; /* Centrar verticalmente */
  align-content: center;
  width:100%;
  height:100%;
  background-color: var(--container-color);
  color:#333;
}
.header-container {
  width:100%;
  height: 100%;
  margin-top:auto;
  background-color: var(--container-color);
  padding: 2px;
  border: 1px solid var(--body-color);
  border-radius: 5px;
  margin-bottom:auto;
}
.navbar {
  width:100%;
  height:auto;
  margin-top:auto;
  background-color: var(--navbar-color);
  padding: 2px;
  position: sticky;
  top: 0;
  border: 1px solid var(--body-color);
  border-radius: 5px;
  margin-bottom:auto;
}
.main-content {
  margin-top:auto;
  width:100%;
height: 100%;
  background-color: var(--container-color);
  padding: 2px;
  border: 1px solid var(--body-color);
  border-radius: 5px;
  margin-bottom:auto;
}
.footer-container {
  width:100%;
  height: 100%;
  background-color: var(--body-color);
  padding: 2px;
  border: 1px solid var(--body-color);
  border-radius: 5px;
  margin-bottom:auto;
}