/* Filename: ToggleSwitch.css*/
.toggle-container {
display: flex;
flex-direction: row;
justify-content: center;
align-items:center;
border: 1px solid var(--body-color);
border-radius: 10px;
padding: 2px;
}
.toggle-container .toggle-switch {
position: relative;
width: 75px;
display: inline-block;
text-align: left;
}

.toggle-container .toggle-switch .checkbox {
display: none;
}
.toggle-container .toggle-switch .label {
display: block;
overflow: hidden;
cursor: pointer;
border: 0 solid #772b2b;
border-radius: 20px;
}
.toggle-container .toggle-switch .label .inner {
display: block;
width: 200%;
margin-left: -100%;
transition: margin 0.3s ease-in 0s;
}
.toggle-container .toggle-switch .label .inner:before,
.toggle-container .toggle-switch .label .inner:after {
float: left;
width: 50%;
height: 36px;
padding: 0;
line-height: 36px;
color: #fff;
font-weight: bold;
box-sizing: border-box;
}
.toggle-container .toggle-switch .label .inner:before {
content: "SI";
padding-left: 10px;
background-color: #060;
color: #fff;
}
.toggle-container .toggle-switch .label .inner:after {
content: "NO";
padding-right: 10px;
background-color: #772b2b;
color: #fff;
text-align: right;
}
.toggle-container .toggle-switch .label .switch {
display: block;
width: 24px;
margin: 5px;
background: #fff;
position: absolute;
top: 0;
bottom: 0;
right: 40px;
border: 0 solid #772b2b;
border-radius: 20px;
transition: all 0.3s ease-in 0s;
}
.toggle-container .toggle-switch .checkbox:checked + .label .inner {
margin-left: 0;
}
.toggle-container .toggle-switch .checkbox:checked + .label .switch {
right: 0px;
}
