.search-bar {
    height: auto;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    gap: 5px;
  }
  .search-bar button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
.search-bar img{
  max-height: 48px;
  width: auto;
}