
.footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer img {
  height: 48px;
  width: auto;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}
.footer img:hover {
  transform: scale(1.5);
}
.footer p {
  margin: 5px;
  font-size: x-small;
  text-decoration: none;
  color:  var(--text-color);
}
.footer a {
  margin: 5px;
  font-size: x-small;
  color:  var(--text-color);
}
.website,
.whatsapp {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin-right: 5px; /* Agrega un margen derecho a las imágenes para separarlas de los elementos de texto */
}
