.card-main{
  display: flex;
justify-content: space-between;
align-items: center;
}
.card-main .search-result-link {
  text-decoration: none;
  background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.card-main .card-container {
  display :flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color:var(--body-color);
  transition: all 800ms ease;
  margin: auto;
  border: 2px solid var(--footer-header-color);
}
.card-main .card-container:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(-15%);
}
figure {
  background-color:var(--text-color);
  border-radius: 5px 5px 0px 0px;
}
figure img{
  width:100%;
  height:100%;
}
.card-main .card-container .product-container{
  display:flex;
  flex-direction: column;
  background-color:var(--container-color);
  border-radius: 0px 0px 5px 5px;
}
.card-main .card-container .product-container .product-precio-stock{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color:var(--container-color);
  border-radius: 0px 0px 5px 5px;
  margin: 1px;
}
.card-main .card-container .product-container .product-precio-stock .product-precio{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--preciostock-color);
  border-radius: 0px 0px 0px 5px;
  margin: 1px;
}
.card-main .card-container .product-container .product-precio-stock .product-stock{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--preciostock-color);
  border-radius: 0px 0px 5px 0px;
  margin: 1px;
}
.card-main .card-container .product-container h2 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color:var(--text-color);
  text-decoration: none;
}
.card-main .card-container .product-container .product-precio-stock h2 {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: lighter;
  color:var(--text-color);
  text-decoration: none;
}
.card-main .card-container .product-container h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color:var(--text-color);
  text-decoration: none;
}




.card-main .ventana-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.card-main .ventana-modal .ventana-modal-content {
  background-color: var(--navbar-color);
  border: 5px solid var(--text-color);
  padding: 2px;
  border-radius: 10px;
  width: 380px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  /* background-color: #562222; */
}

.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info h2 {
  color: var(--body-color);
  text-align: center;
  font-family:Roboto, sans-serif;
  font-size: 12px;
  padding-bottom: 2px;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info img {
  width: 80%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 2px;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info img:hover {
  transform: scale(1.8);
}
@supports(object-fit: cover){
  .card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info img {
    object-fit: cover;
    object-position: center center;
    border: 2px solid var(--body-color);
    border-radius: 5%;
  }
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info h4{
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: lighter;
  color:var(--text-color);
  text-decoration: none;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info h2{
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color:var(--text-color);
  text-decoration: none;
}

.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .codigos-producto{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color:var(--preciostock-color); 
  margin: 1px;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .codigos-producto .codigo-proveedor-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 1px 2px 2px;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .codigos-producto .modelo-fabricante-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 2px 2px 1px;
}

.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .agrupacion-producto{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color:var(--preciostock-color); 
  margin: 1px;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .agrupacion-producto .familia-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 1px 2px 2px;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .agrupacion-producto .subfamilia-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 2px 2px 1px;
}

.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .representacion-producto{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color:var(--preciostock-color); 
  margin: 1px;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .representacion-producto .marca-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 1px 2px 2px;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .representacion-producto .modelo-marca-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 2px 2px 1px;
}

.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .estructura-producto{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color:var(--preciostock-color); 
  margin: 1px;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .estructura-producto .color-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 1px 2px 2px;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .estructura-producto .material-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 2px 2px 1px;
}

.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .origen-producto{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color:var(--preciostock-color); 
  margin: 1px;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .origen-producto .ano-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 1px 2px 2px;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .origen-producto .procedencia-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 2px 2px 1px;
}

.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .caracteristicas-producto{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color:var(--preciostock-color); 
  margin: 1px;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .caracteristicas-producto .lado-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 1px 2px 2px;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-info .caracteristicas-producto .um-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 2px 2px 1px;
}

.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-btn{
  width: 100%;
  height: auto;
  /* background-color: #5f5194; */
  display: flex;
  justify-content:center;
  padding-bottom: 10px;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-btn button {
  font-size:12px;
  font-family:Roboto, sans-serif;
  width:80px;
  height:40px;
  border-width:1px;
  color:#ffffff;
  border-color:#124d77;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  text-shadow:inset 0px 1px 0px #154682;
  background:linear-gradient(#007dc1, #0061a7);
  cursor: pointer;
}
.card-main .ventana-modal .ventana-modal-content .ventana-modal-content-btn button:hover {
  background: linear-gradient(#0061a7, #007dc1);
}


.card-main .ventana-modal-precios {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.card-main .ventana-modal-precios .ventana-modal-content {
  background-color: var(--navbar-color);
  border: 5px solid var(--text-color);
  padding: 2px;
  border-radius: 10px;
  width: 380px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  /* background-color: #562222; */
}

.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info h2 {
  color: var(--body-color);
  text-align: center;
  font-family:Roboto, sans-serif;
  font-size: 12px;
  padding-bottom: 2px;
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info img {
  width: 80%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 2px;
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info img:hover {
  transform: scale(1.8);
}
@supports(object-fit: cover){
  .card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info img {
    object-fit: cover;
    object-position: center center;
    border: 2px solid var(--body-color);
    border-radius: 5%;
  }
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info h4{
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: lighter;
  color:var(--text-color);
  text-decoration: none;
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info h2{
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color:var(--text-color);
  text-decoration: none;
}

.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info .codigos-producto{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color:var(--preciostock-color); 
  margin: 1px;
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info .codigos-producto .codigo-proveedor-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 1px 2px 2px;
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info .codigos-producto .modelo-fabricante-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 2px 2px 1px;
}

.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info .descuentos-producto{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color:var(--preciostock-color); 
  margin: 1px;
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info .descuentos-producto .costo-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 1px 2px 2px;
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info .descuentos-producto .descmaxca-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 2px 2px 1px;
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info .descuentos-producto .descmaxsa-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 1px 2px 1px;
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info .descuentos-producto .descxcant-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 1px 2px 1px;
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info .descuentos-producto .cantaplicadesc-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 2px 2px 1px;
}

.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info .precios-producto{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color:var(--preciostock-color); 
  margin: 1px;
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info .precios-producto .vventa-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 1px 2px 2px;
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-info .precios-producto .pventa-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 2px 2px 1px;
}

.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-btn{
  width: 100%;
  height: auto;
  /* background-color: #5f5194; */
  display: flex;
  justify-content:center;
  padding-bottom: 10px;
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-btn button {
  font-size:12px;
  font-family:Roboto, sans-serif;
  width:80px;
  height:40px;
  border-width:1px;
  color:#ffffff;
  border-color:#124d77;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  text-shadow:inset 0px 1px 0px #154682;
  background:linear-gradient(#007dc1, #0061a7);
  cursor: pointer;
}
.card-main .ventana-modal-precios .ventana-modal-content .ventana-modal-content-btn button:hover {
  background: linear-gradient(#0061a7, #007dc1);
}



.card-main .ventana-modal-stocks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.card-main .ventana-modal-stocks .ventana-modal-content {
  background-color: var(--navbar-color);
  border: 5px solid var(--text-color);
  padding: 2px;
  border-radius: 10px;
  width: 380px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}
.card-main .ventana-modal-stocks .ventana-modal-content .ventana-modal-content-info{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  /* background-color: #562222; */
}

.card-main .ventana-modal-stocks .ventana-modal-content .ventana-modal-content-info h2 {
  color: var(--body-color);
  text-align: center;
  font-family:Roboto, sans-serif;
  font-size: 12px;
  padding-bottom: 2px;
}
.card-main .ventana-modal-stocks .ventana-modal-content .ventana-modal-content-info img {
  width: 80%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 2px;
}
.card-main .ventana-modal-stocks .ventana-modal-content .ventana-modal-content-info img:hover {
  transform: scale(1.8);
}
@supports(object-fit: cover){
  .card-main .ventana-modal-stocks .ventana-modal-content .ventana-modal-content-info img {
    object-fit: cover;
    object-position: center center;
    border: 2px solid var(--body-color);
    border-radius: 5%;
  }
}
.card-main .ventana-modal-stocks .ventana-modal-content .ventana-modal-content-info h4{
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: lighter;
  color:var(--text-color);
  text-decoration: none;
}
.card-main .ventana-modal-stocks .ventana-modal-content .ventana-modal-content-info h2{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color:var(--text-color);
  text-decoration: none;
}

.card-main .ventana-modal-stocks .ventana-modal-content .ventana-modal-content-info .codigos-producto{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color:var(--preciostock-color); 
  margin: 1px;
}
.card-main .ventana-modal-stocks .ventana-modal-content .ventana-modal-content-info .codigos-producto .codigo-proveedor-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 1px 2px 2px;
}
.card-main .ventana-modal-stocks .ventana-modal-content .ventana-modal-content-info .codigos-producto .modelo-fabricante-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 2px 2px 1px;
}

.card-main .ventana-modal-stocks .ventana-modal-content .ventana-modal-content-info .stocks-producto{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color:var(--preciostock-color); 
  margin: 1px;
}
.card-main .ventana-modal-stocks .ventana-modal-content .ventana-modal-content-info .stocks-producto .almacen-producto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:var(--navbar-color); 
  margin: 2px 1px 2px 2px;
}


.card-main .ventana-modal-stocks .ventana-modal-content .ventana-modal-content-btn{
  width: 100%;
  height: auto;
  /* background-color: #5f5194; */
  display: flex;
  justify-content:center;
  padding-bottom: 10px;
}
.card-main .ventana-modal-stocks .ventana-modal-content .ventana-modal-content-btn button {
  font-size:12px;
  font-family:Roboto, sans-serif;
  width:80px;
  height:40px;
  border-width:1px;
  color:#ffffff;
  border-color:#124d77;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  text-shadow:inset 0px 1px 0px #154682;
  background:linear-gradient(#007dc1, #0061a7);
  cursor: pointer;
}
.card-main .ventana-modal-stocks .ventana-modal-content .ventana-modal-content-btn button:hover {
  background: linear-gradient(#0061a7, #007dc1);
}



@media (max-width: 768px) {
  .card-main .card-container .product-container h2{
    font-size: 10px;
  }
  .card-main .card-container .product-container h3 {
    font-size: 9px;
  }
  .card-main .card-container .product-container .product-precio-stock h2 {
    font-size: 8px;
  }
}
  
@media (max-width: 480px) {
  .card-main .card-container .product-container h2{
    font-size: 9px;
  }
  .card-main .card-container .product-container h3 {
    font-size: 8px;
  }
  .card-main .card-container .product-container .product-precio-stock h2 {
    font-size: 8px;
  }
}