.header {
display: flex;
justify-content: space-between;
align-items: center;
}
.header > *{
  flex: 1 100%;
}
.header .logo-container img{
  border-radius: 15px;  
  opacity: 0.8;
  background-size: cover;
  background-size: cover;
  background-position: center center;
}
.header .h1-container {
width: max-content;
}
.header .h1-container h1{
  color:var(--text-color);
  text-align:center;
  font-size: 14px;
}
.usuario-container{
  width:fit-content;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}
.usuario-container button {
  background: none;
  border: none; /* Agrega esta línea para eliminar cualquier borde */
  padding: 0; /* Agrega esta línea para eliminar cualquier espacio adicional */
  margin-left: 10px;
  cursor: pointer;
}
.header img {
  max-height: 48px;
  width: auto;
  transition: transform 0.3s ease-in-out;
}
.header img:hover {
  transform: scale(1.2);
}
@supports(object-fit: cover){
  .header .usuario-container .foto-usuario {
    object-fit: cover;
    object-position: center center;
    border: 2px solid var(--body-color);
    border-radius: 50%;
  }
}

@media (max-width: 768px) {
  .header .h1-container h1{
    color:var(--text-color);
    text-align:center;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .header .h1-container h1{
    color:var(--text-color);
    text-align:center;
    font-size: 8px;
  }
}