.search-results-list {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
  padding: 5px;
  box-sizing: border-box;
  place-items: center; /* Añade esta propiedad */
  text-align: center; /* Añade esta propiedad */
}

.search-results-list img {
  width: 230px;
  height: 160px;
  object-fit: contain;
}



@media (max-width: 768px) {
.search-results-list img {
  width: 130px;
  height: 100px;
  object-fit: contain;
}
}

@media (max-width: 480px) {
  .search-results-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

  }
  .search-results-list img {
    width: 150px;
    height: 70px;
    object-fit: contain;
  }
}