/* Estilos generales */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  /* Estilos para la página */
  .page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    max-width: 600px; /* Tamaño máximo deseado */
    margin: 0 auto; /* Centrar horizontalmente */
    overflow:auto; /* Agrega esta propiedad para habilitar el desplazamiento vertical */
  }
  /* Estilos para el contenedor principal */
  .cover {
    background-color: #0F4475;
    width: 70%;
    height: 50%;
    position: relative;
    border-radius: 6em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .cover:hover {
    transform: scale(1.1);
  }

  .cover h1{
    color: #d8c690;
    pointer-events: none;
    user-select: none;
    text-align: center; /* Agrega esta propiedad para centrar horizontalmente el elemento h1 */
  }
  .cover h3{
    color: #d8c690;
    pointer-events: none;
    user-select: none;
    text-align: center; /* Agrega esta propiedad para centrar horizontalmente el elemento h3 */
  }
  .cover p{
    color: #d8c690;
    pointer-events: none;
    user-select: none;
    text-align: center; /* Agrega esta propiedad para centrar horizontalmente el elemento p */
  }
  .logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 35%;
    max-width: 35%;
    height: auto;
    pointer-events: none;
    user-select: none;
    border-radius: 7em; /* Ajusta el valor según tus preferencias */
    opacity: 0.8; /* Ajusta el valor según tus preferencias */

}
.google-login-btn {
  width: 292px;
  height: 63px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
  /* Estilos para los botones de inicio de sesión alternativos */
  .alt-login {
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
  }
  
  .alt-login div {
    width: 47.5%;
    height: 90%;
    border-radius: 0.25em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  /* Estilos para los campos de entrada */
  input {
    border: none;
    background-color:#d8c690;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 0.5em;
    font-size: 2em;
  }
  input:focus {
    outline-color: 0052a0;
  }
  /* Estilos para el botón de inicio de sesión */
  .login-btn {
    font-size: 1.5em;
    width: 40%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    color:#ffff;
    box-shadow: 0 0.188em 1.5em #d8c690; /* Sombra con mayor profundidad */
    background-color: #00386d; /* Color de fondo del botón */
  }
  .login-btn:hover {
    transform: scale(1.2);
  }
  .logout-btn {
    font-size: 1em;
    font-weight: bold;
    width: 40%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    box-shadow: 0 0.188em 1.550em rgba(0, 0, 0, 0.5); /* Sombra con mayor profundidad */
    background-color:#c35c4c; /* Color de fondo del botón */
    color: #0F4374; /* Color del texto del botón */
    margin: 0 auto; /* Agrega esta propiedad para centrar horizontalmente el botón */

  }

  /* Estilos para el texto */
  .text {
    position: relative;
    bottom: 0.5%;
  }
  /* Estilos para ocultar elementos */
  .hide {
    position: absolute;
    transform: scale(0);
  }
  /* Estilos para el popup de inicio de sesión */
  .popup-error {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0F4475;
    opacity: 1; /* Asegúrate de que la opacidad sea 1 para que no sea transparente */
    width:auto;
    height: auto;
    padding: 2.5em;
    z-index: 9999;
    text-align: center;
    box-shadow: 0 0.376em 3.100em rgb(231, 232, 227); /* Duplica los valores para aumentar la sombra al doble */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
    border-radius: 1em;
  }
  .popup-error h3 {
    font-size: 2em;
    font-weight: bold;
    color: #eeece7;
    text-decoration:none;

  }
  .popup-error .boton-wrapper {
    width: 100%; /* Ajusta el ancho del contenedor al 100% */
  }
  .popup-error .boton-cancelar {
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color:#f24537;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size: 2em;
    font-weight:bold;
    padding:1em;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
    width: 100%; /* Ajusta el ancho de los botones al 100% del contenedor */

  }

  .popup-error .boton-crear-usuario {
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color:#007dc1;
    border-radius:6px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size: 2em;
    font-weight:bold;
    padding:1em;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
    width: 100%; /* Ajusta el ancho de los botones al 100% del contenedor */

  }
  /* Estilos para dispositivos móviles */
  @media only screen and (max-width: 37em) {
    .page {
      font-size: 0.75em;
    }
  
    .cover {
      width: 90%;
      height: 70%;
    }
  }
  /* Estilos para tabletas */
  @media only screen and (min-width: 37em) and (max-width: 64em) {
    .page {
      font-size: 1em;
    }
  
    .cover {
      width: 80%;
      height: 65%;
    }
  }
  /* Estilos para escritorios */
  @media only screen and (min-width: 64em) {
    .page {
      font-size: 0.5em;
    }
  
    .cover {
      width: 70%;
      height: 50%;
    }
  }