.content-data {
display: flex;
align-items: center;
justify-content: center;
align-content: center;
}
.my-custom-container-class{
    background:none;
}
/* Table hover styles */

.my-custom-container-class tr:hover td {
    color: rgb(255, 38, 0);
    background: rgba(252, 164, 50, 0.692);
  }
  
  .my-custom-container-class tr:hover td:last-child {
    background: rgba(50, 252, 174, 0.692);
  }


.my-custom-table-class{
}
.my-custom-td-class{
    text-align: center;
    font-size: 12px;
    font-family: Roboto;
}
.my-custom-th-class{
    text-align: center;
    font-size: 12px;
    font-family: Roboto;
    font-weight: bold;
}
.my-custom-pagination-class{
    background:none;
}
.my-custom-tbody-class{
    background:none;
}
.my-custom-pagination-summary-class{
    font-size: 11px;
}