.dialogFichaVentas {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px; 
  overflow: hidden;
  margin: auto;
  padding: auto;
}

.container-detdatagrid {
  max-width: 100%;
  max-height: 100%;
  margin: 0.2rem;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.detdata-datagrid {
  background-color: var(--container-color);
  max-width: 100%;
  max-height: 100%;
}
.MuiDataGrid-columnHeaders{
  background-color: var(--border-color);
  border: 0px solid black;
}
.data-detventas{
  background-color: var(--text-color);
}
/* Estilos responsivos para pantallas con un ancho máximo de 768px */
@media (max-width: 768px) {
  .container-detdatagrid {
    max-width: 700px;
    max-height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .detdata-datagrid {
    background-color: var(--container-color);
    max-width: 100%;
    max-height: 100%;
  }
}
/* Estilos responsivos para pantallas con un ancho máximo de 480px */
@media (max-width: 480px) {
  .dialogFichaVentas {
    max-width:390px;
    max-height: 100%;
    margin: auto;
    padding: auto;
  }
  .container-detdatagrid {
    max-width: 350px;
    max-height: 100%;
    margin: auto;
    padding: auto;
  }
  .detdata-datagrid {
    background-color: var(--container-color);
    max-width: 100%;
    max-height: 100%;
  }
}