.container-datagrid {
  width: 1000px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-datagrid {
  background-color: var(--container-color);
  width: 100%;
  height: 100%;
}

.MuiDataGrid-columnHeaders{
  background-color: var(--border-color);
}

.data-ventas{
  background-color: var(--text-color);

}
  /* Estilos responsivos para pantallas con un ancho máximo de 768px */
  @media (max-width: 768px) {
    .container-datagrid {
      width: 600px;
      height: 400px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .data-datagrid {
      background-color: var(--container-color);
      width: 100%;
      height: 100%;
    }
  }
  
  /* Estilos responsivos para pantallas con un ancho máximo de 480px */
  @media (max-width: 480px) {
    .container-datagrid {
      width: 380px;
      height: 500px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .data-datagrid {
      background-color: var(--container-color);
      width: 100%;
      height: 100%;
    }
  }
  